/* Best Practice is to use Camel notation. btn-ay-module = btnAyModule */
.btnAyModule {
  border-radius: 12px;
  background: burlywood;
  color: white;
}

.text-underline {
  text-decoration: underline;
}
